.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 80%;
    margin-left: 40px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-right: 15%;
}

#imagenDiferenciales{
    width:  40%;
}
